.grid {
    margin: 300px;
    background-color: lightgray;
    top: -186px;
    align-items: center;
    position: relative;
    border-radius: 5px;
    border: 2px solid darkgrey;
}
body{
    background-image: url("../images/abstract-architecture-attractive-988873.jpg");
}
.buttons {
    margin: 20px;
    
}

.correct{
    text-align: center;
}
.incorrect{
    text-align: center;
}
#counter{
    text-align: center;
}
.rules{
    text-align: center;
}
.title{
    text-align: center;
}
#start{
    align-content: center;
    margin-bottom: 10px;
    margin-left: 325px;
    margin-top: 5px;
    padding: 7px;
    border-radius: 5px;
}
